.no-margin {
  margin: 0;
}

.todo-list-container {
  margin-top: 20px;
}

[v-cloak] {
  display: none;
}

.strike-through {
  text-decoration: line-through;
}

.fade-enter-active {
  animation: fade-in .5s;
}

.fade-leave-active {
  animation: fade-out .5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
